﻿html {
    position: relative;
    min-height: 100%;

}

body {
    height: 100%;
    margin-bottom: 100px;
}

.bg-image {
    width: 100%;
    height: 800px;
    background-image: url('../img/Model.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    background-attachment: fixed
}

.img {
}

.text {
    text-align: center;
    font-family: Cinzel;
    font-size: 100px;
    font: bolder;
    color: white;
    bottom: 230px;
    position: absolute;
    right: 370px
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 30px;
    right: 650px;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    width: 15px;
    height: 15px;
    left: 650px
}

.container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px
}

h3 {
    font-family: Cinzel;
    font-size: 30px;
    font: bolder;
    color: darkgreen;
    font: bold;
    margin-top: 20px;
    margin-bottom: 20px
}

h1 {
    font-family: Cinzel;
    font-size: 40px;
    font: bolder;
    color: darkgreen;
    margin-top: 20px;
    margin-bottom: 20px
}

p {
    font-family: 'Palatino Linotype';
    font-size: large;
}

#services {
    display: block;
    margin-top: 40px;
    background-color: darkgreen;
    color: whitesmoke;
    font-family: Algerian;
    width: 100%;
}

.row {
    background-color: lavenderblush
}

#Slider, #Slider1, #Slider2, #Slider3 {
    margin-bottom: 70px;
    cursor: pointer
}

.carousel .carousel-indicators li {
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 2px
}

    .carousel .carousel-indicators li.active {
        background-color: darkslategrey;
    }

.carousel-indicators {
    bottom: -50px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    opacity: 0;
}

    .carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
        opacity: 1.0;
        transition: opacity 800ms;
        color: black
    }
