@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center" id="home">
    <img src="~/img/full_logo.png" alt="LeBrows Full Logo" class="logoimg" />
    <p class="tagline">Like no other...</p>
</div>

<p class="top"> 
   
    Le' Brows Premieré is dedicated to becoming your ultimate lash and brows destination in Kitchener, Ontario and Manila, Philippines. 
    Our team of experts is committed to providing unparalleled services, utilizing the highest quality products, and maintaining a clean and safe environment 
    that meets both Canadian and global standards. We strive to make you look and feel your best, every day of the week. 
</p>
<p class="top" style="text-align: center">

    Experience a level of excellence, like no other, with Le' Brows Premieré.
</p>

<section class="homepageSection">
<div class="container">
    <div class="row">
        <div class="col-4">
                <img class="img-fluid" src="~/img/owner.jpg" style="width:500px; height:400px"/>
        </div>
        <div class="col-7">
            <h2> About me</h2>
            <p>
                Welcome to Le' Brows Premieré! My name is Hazel, I am the founder and artist behind the Brows and Lashes in my studio.
                I studied Post Graduate Business Management at the Canadian Institute of Management and Technology (CIMT) in Mississauga, Ontario.
                I also work in the field of sales and customer service for almost 15 years and my passion for creative artistry in PMU gives desire
                to provide my clients the confidence they can get by enhancing their natural beauty. They have motivated me to share and offer high
                standard services here and abroad. I am a certified Beauty Angels Academy Artist specializing Ombre Powder Brows and Nano Fusion,
                as well as certified and experienced Lash Artist in Canada. With my skills and certification my work guarantees International standards
                which you can proceed with confidence as you are in safe hands.
            </p>
        </div>
    </div>
</div>
</section>


<section class="homepageSection">
<div class="container">
    <div class="row">

            <div class="col-7">
            <h2> Our services </h2>
            <p>
                Transform your look with our expert brow and lash services. From shaping and defining brows to enhancing lashes,we will customize a look that's perfect for you.
                Our luxurious treatments will leave you with a polished and put-together appearance, empowering you to take on the world with confidence.
                Book your appointment today and flaunt your fabulous lashes and brows.
            </p>
              
                <a asp-controller="ServicesPage" asp-action="Services" class="btn btn-primary" id="sectionBtn">Book now</a>
        </div>
        <div class="col-4">
                <img src="~/img/lash.jpg" class="img-fluid" style="width:400px; height:400px" />

        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">
        <div class="col-4">
                <img src="~/img/model2.jpg" class="img-fluid" style="width:400px; height:400px" />
            </div>

        <div class="col-7">
            <h2> Our premium picks </h2>
            <p>
                Take your look to the next level with our premium lash and brow products, as well as a variety of other beauty essentials.
                From volumizing mascaras to shaping brow gels, we've got everything you need to create a stunning look. Our products are made with high-quality ingredients,
                ensuring your lashes and brows always look their best. Whether you're after a natural or bold look, we've got you covered.
                Shop our collection today and discover your new go-to beauty essentials.
            </p>
    
                <a asp-controller="" asp-action="" class="btn btn-primary" id="sectionBtn">Shop now</a>
        </div>

    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">

        <div class="col-7">
            <h2> Your radiant companion </h2>
            <p>
                Get expert advice and discover the latest trends and helpful tips and tricks with our beauty guide and blog section. Hear from our satisfied customers
                and see the real results of our products and services. Our customers rave about their experiences with our team, products and services and we're proud to
                share their stories with you.
            </p>
                
                <a asp-controller="" asp-action="" class="btn btn-primary" id="sectionBtn">Read our blogs</a>
        </div>

        <div class="col-4">
                <img src="~/img/newModel2.jpg" class="img-fluid" style="width:400px; height:400px" />

        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">
        <div class="col-4">
                <img src="~/img/brows.jpg" class="img-fluid" style="width:400px; height:400px" />
        </div>
        <div class="col-7">
            <h2> Beauty in motion </h2>
            <p>
                Our gallery showcases the beauty and artistry of our services and products. From the perfect arch of a brow to the lush length of lashes,
                you'll see the results of our expertise on display. Browse through our collection and find inspiration for your next beauty transformation.
            </p>
           
                <a asp-controller="GalleryPage" asp-action="Gallery" class="btn btn-primary" id="sectionBtn">Gallery</a>
        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">

        <div class="col-7">
            <h2> Lavish learning opportunities </h2>
            <p>
                Take your beauty skills to the next level with our expert-led trainings. From brow and lash arts to the latest techniques in beauty,
                our courses are designed to help you grow your skills and your business. Learn from the best and take your talent to the top.
            </p>
               
                <a asp-controller="TrainingPage" asp-action="Training" class="btn btn-primary" id="sectionBtn">Training</a>
        </div>
        <div class="col-4">
                <img src="~/img/owner_model.jpg" class="img-fluid" style="width:400px; height:400px" />

        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">

        <div>
            <h2> Contact us </h2>
            <p>
                Have a question or concern? Our team is here to help. Whether you need more information about our services, products, or training, or have a question
                about your order, we're here to assist you. Simply fill out the form or use our contact information to get in touch and we'll get back to you as soon as possible.
            </p>

                <a asp-controller="ContactPage" asp-action="Contact" class="btn btn-primary" id="ContactBtn">Contact us</a>
        </div>
    </div>
</div>
</section>
