@{
    ViewData["Title"] = "Gallery Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/GalleryStyleSheet.css" type="text/css" />
<div class="background">
    <h1 class="text"> OUR WORKS</h1>
</div>

<ul class="nav nav-tabs nav-justified">

  <li class="nav-item dropdown nav-justified">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#OmbreBrows" role="button" aria-expanded="false">Photos</a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#OmbreBrows">Ombre Brows</a></li>
      <li><a class="dropdown-item" href="#ClassicLashes">Classic Lashes</a></li>
      <li><a class="dropdown-item" href="#HybridLashes">Hybrid Lashes</a></li>
       <li><a class="dropdown-item" href="#VolumeLashes">Volume Lashes</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Videos">Videos</a>
  </li>

</ul>

<h2> Every women deserves a beautiful lashes coz it makes everything better <span style="color: #ff0000;">&#10084;</span>! <br/> 
    Look at some of the best works done by us! From the perfect arch of a brow to the lush length of lashes, you'll see the results of our expertise on display. Browse through our collection and find inspiration for your next beauty transformation. <br/>
    </h2>

<H3 id="OmbreBrows"> Ombre Powder Brows</H3>
 <img class="gallery" src="~/img/Gallery/Ombre Brows/11.jpg" alt="Brows" >
  <img class="gallery" src="~/img/Gallery/Ombre Brows/14.jpg" alt="Brows">
   <img class="gallery" src="~/img/Gallery/Ombre Brows/13.jpg" alt="Brows">
    <img class="gallery" src="~/img/Gallery/Ombre Brows/5.jpg" alt="Brows">
     <img class="gallery" src="~/img/Gallery/Ombre Brows/15.jpg" alt="Brows">
      <img class="gallery" src="~/img/Gallery/Ombre Brows/16.jpg" alt="Brows">

      <br/>
      <br/>

<H3 id="ClassicLashes"> Classic Lashes</H3>
 <img class="gallery" src="~/img/Gallery/Classic Lashes/2.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Classic Lashes/5.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Classic Lashes/6.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Classic Lashes/8.jpg" alt="Lashes" >
    <img class="gallery" src="~/img/Gallery/Classic Lashes/9.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Classic Lashes/7.jpg" alt="Lashes" >

    <br/>
      <br/>

<H3 id="HybridLashes"> Hybrid Lashes</H3>
 <img class="gallery" src="~/img/Gallery/Hybrid Lashes/10.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Hybrid Lashes/8.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Hybrid Lashes/4.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Hybrid Lashes/2.jpg" alt="Lashes" >
    <img class="gallery" src="~/img/Gallery/Hybrid Lashes/6.jpg" alt="Lashes" >
   <img class="gallery" src="~/img/Gallery/Hybrid Lashes/3.jpg" alt="Lashes" >

    <br/>
      <br/>

<H3 id="VolumeLashes"> Volume Lashes</H3>
 <img class="gallery" src="~/img/Gallery/Volume Lashes/1.jpg" alt="Lashes" >
 <img class="gallery" src="~/img/Gallery/Volume Lashes/2.jpg" alt="Lashes" >
 <img class="gallery" src="~/img/Gallery/Volume Lashes/3.jpg" alt="Lashes" >

 <h3 id="Videos">Videos</h3>
 <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=400&href=https%3A%2F%2Fwww.facebook.com%2F100075874315890%2Fvideos%2F517047100349757%2F&show_text=false&width=267&t=0"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100075874315890%2Fvideos%2F590636832196502%2F&show_text=false&width=380&t=0"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
   <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100075874315890%2Fvideos%2F3168031420112156%2F&show_text=false&width=476&t=0"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
 <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100075874315890%2Fvideos%2F3011206229129433%2F&show_text=false&width=476&t=0"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
 <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100075874315890%2Fvideos%2F647755396297156%2F&show_text=false&width=560&t=0"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
 <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100075874315890%2Fvideos%2F2509470662518316%2F&show_text=false&width=476&t=0"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

