@{
    ViewData["Title"] = "FAQs";
}



<div class="text-center" id="home">
    <p class="tagline">Frequently Asked Questions</p>
</div>

<section class="homepageSection">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5> How long does the treatment take?</h5>
            <p>
               For Ombre Brows it takes two to three hours. In the first session, the brow is shaped and styled to the client’s preference, and the pigment is applied. 
               Touch up is necessary for perfecting the healed results usually it is scheduled from 6-8 weeks. <br>
               <br>
               For Lashes it is usually between 1.5 hrs to 2.5hrs depending on the mapping and natural lash count. 
               Retouch is also suggested to maintain fluffy and fuller look anytime between 2-3 weeks.
            </p>
        </div>
    </div>
</div>
</section>


<section class="homepageSection">
<div class="container">
    <div class="row">

            <div class="col-12">
            <h5> Is it painful? </h5>
            <p>
                For Ombre Brows, some people have the experience to be similar like you are scratching your skin or like shaving. 
                Topical anesthetic or numbing cream is applied to brow area. It is safe and may contain lidocaine, tetracaine, and epinephrine. <br>
                <br>
                For lashes it is totally non irritating as we are using fast dry glue, latex free and anti allergy. 
                Lash extensions is so soft like human hair and it's made of Korean PBT fibre (polybutylene terephthalate), a type of polyester, 
                it has a high molecular weight and a reputation for being a flexible and resistant plastic
            </p>          
        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5> Who is the right candidate? </h5>
            <p> For Ombre Brows let me know if you have this conditions: </p>
                <ul>
                   <li> Pregnant </li>
                   <li> Breastfeeding </li>
                    <li> Autoimmune Disease (dependent of type and medications, contact before booking) </li>
                    <li> Taking any immunosuppressant medications, or blood thinners (need doctor's note) </li>
                    <li> Using any peeling products on your face such as glycolic </li>
                 </ul>
                 <br>
                
                <p> For Eyelashes: It is safe for people who has no allergic reaction reportedly. </p> 
            
        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">
        <div class="col-12">
            <h5> What is the difference between microblading and Ombre Brows?</h5>
            <p>
               LESS INVASIVE: Ombré powder brows are achieved using a small machine, which disperses extremely fine dots of pigments even into and across 
               the skin in an airbrush or shading technique. Microblading uses a hand-tool that creates incisions or small cuts into the skin.
            </p>        
        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">
        <div class="col-12">
            <h5> What if i have an existing tattoo? </h5>
            <p>
                Booking a FREE Online Consultation first with our Artist is highly recommended before visiting to assess if you are a good candidate for 
                Brow Restoration or a Tattoo Removal. 
            </p>
        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">
        <div class="col-12">
            <h5> Is there a reservation? </h5>
            <p>
                Yes! all our service requires a 20% reservation or downpayment. We accept payments online using the following options:
                <ul>
                    <li> Online Bank Transfer </li>
                    <li> G-Cash </li>
                 </ul>
            </p>
        </div>
    </div>
</div>
</section>

<section class="homepageSection">
<div class="container">
    <div class="row ">
        <div>
            <h3> Policies </h3>
            <h5> Cancellation Policy</h5>
            <p>
                Our time is valuable. Out of respect for our staff and our other guests, we ask that you give us at least 72 hours notice if you need to cancel an appointment. 
                If you cancel within  24 hours it will be considered a late cancellation and shall result to forfeiture of your reservation. 
                If for any reason, you wish to move your appointment to another date, we will still be able to reschedule provided that 
                the rebooking request shall be made 3 days prior and subject to the availability.
            </p>
            <h5> Late Policy </h5>
            <p>
                Clients who are late on their appointment will be given a grace period of ONLY 30 minutes. 
                Anything later than that will be accepted after the next booked client. As we try to accommodate everyone, 
                we understand that other clients also booked their time based on their availability.
            </p>
            <h5> No Show Policy</h5>
            <p>
               Clients failed to show up on their appoinment will result lost income opportunity 
               therefore deposit will be automatically forfeited and next time booking will be required 50% deposit.
            </p>
               
        </div>
    </div>
</div>
</section>

<style>
    h5 {
        color: darkgreen;
        font-family: 'Footlight MT';
        font-weight:  bold;
    }

     h3 {
        color: darkgreen;
        font-family: 'Footlight MT';
        font-weight:  bold;
        text-align: center;
    }

    li {
        font-family: 'Palatino Linotype';
    }
</style>
